# Data Base
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=gym-routine

# JWT
JWT_SECRET=

API_BASE_URL=http://localhost:3000/api/v1

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=